body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
  list-style: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}



@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  /*background: #e9ebef;*/
}

h1,h2,h3,h4,h5,h6 {
      font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

.bdt-timeline-container {
  display: flow-root;
  box-sizing: content-box;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  margin-top: 50px;
}

.upk-salf-slider-wrapper {
  display: flex;
  flex-direction: row;
  background: #fff;
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);*/
  height: 400px;
  padding: 30px;
  position: relative;
}
.upk-salf-slider-wrapper .upk-salf-item {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.upk-salf-slider-wrapper .upk-salf-item.swiper-slide-active .upk-salf-title,
.upk-salf-slider-wrapper .upk-salf-item.swiper-slide-active .upk-salf-desc,
.upk-salf-slider-wrapper .upk-salf-item.swiper-slide-active .upk-salf-button {
  opacity: 1;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
  height: 100%;
  width: 100%;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-xanc-img {
  display: block;
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  top: unset;
  max-width: 460px;
  overflow: hidden;
  background: #1b1b1b;
  transition: -webkit-backdrop-filter 0.9s;
  transition: backdrop-filter 0.9s;
  transition: backdrop-filter 0.9s, -webkit-backdrop-filter 0.9s;
  padding: 20px;
  padding-left: 20px;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
  opacity: 0;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-desc {
  color: #656565;
  font-size: 14px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 20px;
  opacity: 0;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button {
  opacity: 0;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link {
  color: #a6a182;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  transition: all 0.3s ease;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link:hover {
  color: #a6a182;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed {
  display: inline-block;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed .arrow-icon {
  position: relative;
  top: 0;
  transition: transform 0.3s ease;
  vertical-align: middle;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed .arrow-icon--circle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed g {
  stroke: currentColor;
  color: #a6a182;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}
.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed:hover g {
  color: #a6a182;
}
.upk-salf-slider-wrapper .upk-page-scroll {
  position: absolute;
  bottom: 8%;
  right: 5%;
  transform: rotate(90deg);
  z-index: 1;
  display: none;
}
.upk-salf-slider-wrapper .upk-page-scroll .arrow-up {
  height: 70px;
  width: 70px;
  display: block;
  background: #ffffffc9;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform: rotate(-90deg);
  overflow: hidden;
}
.upk-salf-slider-wrapper .upk-page-scroll .arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #a6a182;
  position: absolute;
  display: block;
  z-index: 0;
}
.upk-salf-slider-wrapper .upk-page-scroll .long-arrow-left {
  display: block;
  margin: 30px auto;
  width: 16px;
  height: 16px;
  border-top: 2px solid #2b2d42;
  border-left: 2px solid #2b2d42;
}
.upk-salf-slider-wrapper .upk-page-scroll .long-arrow-left {
  transform: rotate(-135deg);
}
.upk-salf-slider-wrapper .upk-page-scroll .long-arrow-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 25px;
  background-color: #2b2d42;
  transform: rotate(-45deg) translate(8px, 3px);
  left: 0;
  top: 0;
}
.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover {
  transition: all 0.1s;
}
.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover .left-arm:after {
  transform: rotate(-10deg);
}
.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover .right-arm:after {
  transform: rotate(10deg);
}
.upk-salf-slider-wrapper .upk-page-scroll .arrow-up:hover .arrow-slide {
  transition: all 0.5s ease-in-out;
  transform: translateY(200%);
}
.upk-salf-slider-wrapper .upk-salf-nav-pag-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
}
.upk-salf-slider-wrapper .upk-salf-navigation {
  margin-top: 40px;
  margin-right: 2px;
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed {
  display: inline-block;
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed .arrow-icon {
  position: relative;
  top: 0;
  transition: transform 0.3s ease;
  vertical-align: middle;
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed .arrow-icon--circle {
  transition: stroke-dashoffset 0.3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed g {
  stroke: currentColor;
  color: #2b2d42;
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}
.upk-salf-slider-wrapper .upk-salf-navigation .link--arrowed:hover g {
  color: #a6a182;
}
.upk-salf-slider-wrapper .upk-salf-navigation .upk-button-next {
  margin-top: 15px;
  transform: rotate(90deg);
}
.upk-salf-slider-wrapper .upk-salf-navigation .upk-button-prev {
  transform: rotate(-90deg);
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap {
  position: absolute;
  top: 43%;
  right: 0;
  margin-right: 22px;
}
@-webkit-keyframes progress {
  0% {
    stroke-dashoffset: 75;
    opacity: 1;
  }
  95% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}
@keyframes progress {
  0% {
    stroke-dashoffset: 75;
    opacity: 1;
  }
  95% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 0.8;
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation {
  width: 20px;
  height: 20px;
  margin: 6px -7px;
  display: inline-block;
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation svg {
  transform: rotate(-90deg);
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation .svg__circle-inner {
  stroke: #2b2d42;
  fill: transparent;
  transition: all 0.3s ease;
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet-active .svg__circle {
  stroke: #a6a182;
  stroke-dasharray: 75;
  stroke-dashoffset: 0;
  -webkit-animation: progress 4s ease-in-out 1 forwards;
  animation: progress 4s ease-in-out 1 forwards;
}
.upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet-active .svg__circle-inner {
  fill: #2b2d42;
  stroke: #a6a182;
}

@media (min-width: 768px) {
  .upk-salf-slider-wrapper {
    height: 550px;
    padding: 60px;
  }
  .upk-salf-slider-wrapper .upk-page-scroll {
    bottom: 4%;
    display: inherit;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
    font-size: 40px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
    max-width: 400px;
    padding: 40px;
    padding-left: 0;
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
    width: 80%;
  }
  .upk-salf-slider-wrapper .upk-salf-navigation {
    margin-top: 60px;
    margin-right: 20px;
  }
  .upk-salf-slider-wrapper .upk-salf-pagi-wrap {
    margin-right: 47px;
  }
  .upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation {
    margin: 6px 0;
  }
}
@media (min-width: 1024px) {
  .upk-salf-slider-wrapper {
    height: 650px;
    padding: 70px;
  }
  .upk-salf-slider-wrapper .upk-page-scroll {
    bottom: 9%;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
    font-size: 50px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
    max-width: 460px;
    padding: 150px 50px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-desc {
    font-size: 16px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link {
    font-size: 16px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
    width: 100%;
  }
  .upk-salf-slider-wrapper .upk-salf-navigation {
    margin-top: 85px;
    margin-right: 30px;
  }
  .upk-salf-slider-wrapper .upk-salf-pagi-wrap {
    margin-right: 53px;
  }
  .upk-salf-slider-wrapper .upk-salf-pagi-wrap .swiper-pagination-bullet--svg-animation {
    margin: 6px -5px;
  }
}
@media (min-width: 1440px) {
  .upk-salf-slider-wrapper {
    height: 700px;
    padding: 0px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
    font-size: 1.5rem;
  }
}
.button {
  background: #f00;
  padding: 18px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.mySwiper2  {
    margin: 0px;
}

#boards-area,#about-area,#product-area,#features-area,#gallery-area {
  padding-top: 150px;
}

#boards-area h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

#boards-area img{
  width: 150px;
  height: 150px;
  display: flex;
  margin: auto;
}

.about-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.about-info h2, #product-area h2,#boards-area h2, #gallery-area h2 {
  font-size: 3rem;
  color: #000;
  line-height: 3.6875rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.about-info p {
  font-weight: 400;
  line-height: 26px;
  color: #999;
}

.about-images {
  position: relative;
}

.about-images img:last-child {
  position: absolute;
  left: 20px;
  bottom: 20px;
}



/* Product CSS*/

.product-card{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 20px;
	height: 100%;
	float: left;
	width: 50%;
}

.product-card .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 27px;
	color: #1b1b1b;	
}

.product-card .product-details > p {
	font-size: 18px;
	color: #1b1b1b;
	
}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

.product-card img {width: 100%;height: 100%;}

.info {
    background: #1b1b1b;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.7;
    text-align: left;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px;
}

.info h2 {text-align: center;margin-bottom: 2rem;}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.2);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/* Product CSS*/


footer ul {
  list-style: none;
  padding: 0px;
}

footer ul li {
  margin-bottom: 15px;
}

footer li {
  list-style: none;
}

footer h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #a6a182;
  height: 41px;
}

.footer-bg {
  color: white;
  padding: 100px;
  margin-top: 5rem;
}

.product-details h3 {
  color: #a6a182;
}

.copyright {
  margin-top: 9rem;
}

#features-area h2,#product-area h2, #gallery-area h2, #about-area h2 {
  font-family: 'Playfair Display';
  font-weight: 600;
  line-height: 1.42em;
  font-style: italic;
  font-size: 45px;
  text-align: center;
}

#features-area h3,#product-area h3,#gallery-area h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 0px 0px 10px 0px;
}

#features-area h6, #product-area h6, #gallery-area h6,#about-area h6 {
  margin: 0px 0px 6px;
  color: rgb(126, 126, 126);
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

#features-area hr {
  color: black;
  margin-top: 1rem;
}

#features-area img {
  width: 100%;
}

#features-area button {
  padding: 20px 34px 20px 34px;
  border: 1px solid #232323;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0;
  color: #232323;
  background-color: white;
  margin-top: 4rem;
}

.feature-types li a{
  color: rgba( 35,35,35,0.44 );
  padding: 23px 0px;
  /*margin: 0% 5.6% 0% 0%;*/
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.features-text {
  margin: 0px 0px 16px 0px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: #6B6B6B;
}

.feature-left,.feature-right{
  width: 42.5%;
}

.feature {
  padding: 15px 10px;
  border-bottom: 1px solid #232323;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #232323;
}

img {
  transition: all 2s ease-in-out;
}

img[data-src]:not(:hover) {
  opacity: 1;
}

img[data-src]:hover {
  opacity: 1;
}

.ev-filter.active {
  color: #232323;
  transition: all 1s ease-in-out;
}

header a {
  color: #fff;
  font-weight: 600;
}

header li {
  font-weight: 600;
}

header a:hover {
  color: #A6A182;
  transition: all .3s ease-in-out;
}

.title{
  font-family: 'Playfair Display', serif;
  font-size: 4vw;
  line-height: 1.3;
  text-decoration: none;
  color: #1d213f;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #1d213f;
  }
  
  a:hover  .cursor--inner {
    border: 1px dotted yellow;
  }
}

  

.flipper-container{
  position:relative;
  /*margin:35px auto;*/
  /*perspective:1000;*/
  /*width:450px;*/
  height:100%;
}
.flip{
  height:100%;
  width:100%;
  transform-style:preserve-3d;
  transition:all 1s;
}
.flipper-container:hover .flip{
  transform:rotateY(180deg);
  /*box-shadow: 0px 10px 10px #aaa;*/
}
.face{
  position:absolute;
  height:100%;
  width:100%;
  backface-visibility:hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background-color:#a6a182;
  border-radius: 150px 150px 20px 20px;
}
.back h2{
  padding:70px 0px;
  font-family:Pacifico;
  letter-spacing:1px;
  font-size:30px;
}

.back p, .back li {
  text-align: left;
  font-size: 12px;
  padding: 10px 0px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

.back h5 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0px;
}

#product-area img {
  width: 100%;
  border-radius: 150px 150px 20px 20px;
}

.urun-card {
  background-color: #a6a182;
  height: 500px;
  padding: 15px 20px;
  border-radius: 150px 150px 20px 20px;
}

.front h5 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  text-transform: uppercase;
}

.back ul {
  padding: 0px 1.5rem;
}

#footer, header {
  background-color: #1b1b1b;
}

#footer a {
  color: white;
}

#gallery-area img {
  object-fit: cover;
}

#about-area,#features-area,#product-area,#gallery-area,#footer  {
  opacity: 0;
  transition: opacity 3s;
}
